.header-wrapper h3 {
    width: fit-content;
    padding: 0.25em 0.75em;
    border: 2px solid #000;
    box-shadow: 5px 5px #000;
}

.fa-plus {
    transform: scale(0.75);
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoutButton-wrapper {
    float: right;
    margin-right: 1%;
}

.logoutButton:hover {
    background-color: #000;
}

.newGroupAdder {
    min-width: 15%;
    width: 100%;
    margin-right: 1%;
}

.groupBlockLink, .courseBlockLink {
    margin-right: 1%;
}

.groupBlock, .courseBlock {
    height: 100%;
}

.groupBlock, .courseBlock, .newGroupAdder {
    border: 2px solid #000;
    border-radius: 0px;
    box-shadow: 2.5px 2.5px #000;
}

.groupBlock:hover, .courseBlock:hover, .newGroupAdder:hover {
    transform: translate(2.5px, 2.5px);
    box-shadow: 0px 0px #FFF;
}

.newGroupAdder {
    margin-top: 1rem;
}