.header-wrapper h3 {
    width: fit-content;
    padding: 0.25em 0.75em;
    border: 2px solid #000;
    box-shadow: 5px 5px #000;
}

.fa-plus, .fa-times, .fa-cog {
    transform: scale(0.5);
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backButton {
    margin-bottom: 1%;
}

.logoutButton-wrapper {
    float: right;
}

.settingsButton, .deleteGrade {
    float: right;
    border: 2px solid #000!important;
    box-shadow: none!important;
    transform: none!important;
    padding: 0 7px!important;
}

.deleteGrade {
    float: left;
    background-color: #F25341!important;
}

.settingsButton {
    background-color: #4094ed!important;
}

.deleteGrade:hover, .settingsButton:hover {
    box-shadow: none!important;
}

.cancelButton:hover, .backButton:hover, .logoutButton:hover {
    background-color: #949da6;
}

.saveButton:hover {
    background-color: #4094ed;
}

.newAdder {
    min-width: 15%;
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
}

.groupBlockLink, .courseBlockLink {
    margin-right: 1%;
}

.groupBlock, .courseBlock {
    height: 100%;
}

.groupBlock, .courseBlock, .newAdder {
    border: 2px solid #000;
    border-radius: 0;
    box-shadow: 2.5px 2.5px #000;
}

.groupBlock:hover, .courseBlock:hover, .newAdder:hover, .newGradeAdder:hover {
    transform: translate(2.5px, 2.5px);
    box-shadow: 0 0 #FFF;
}

.newAdder:hover, .newGradeAdder:hover {
    background-color: #4de36f;
}

.newGradeAdder {
    margin-top: 0.5rem;
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #000;
    border-radius: 0;
    box-shadow: 2.5px 2.5px #000;
}

.settingsOptions:not(.visible) {
    display: none;
}

.settingsOptions.visible {
    position: fixed;
    width: 50%;
    display: block;
    border: 2px solid #000;
    background: #FFF;
    transform: translate(70%, 0);
    z-index: 2;
}

.settingsOption {
    z-index: 1;
    width: 100%;
    font-size: 1rem;
    padding: 0.5em 0.25em;
    color: #000;
}

.settingsOption.deleteOption:hover {
    background-color: #F25341;
}

.settingsOption:hover {
    background-color: #ACDFF8;
    color: #000!important;
}

table {
    border-spacing: 0;
    border: 2px solid black;
    box-shadow: 2.5px 2.5px #000;
    width: 100%;
}

td:last-child, td:nth-child(3n+3) {
    width: 25%;
}

tfoot td, thead th {
    font-weight: bold!important;
}

th, td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

td input {
    border: none!important;
    width: 100%;
}

td input:focus {
    outline: none!important;
    background-color: #ACDFF8;
}

th:last-child, td:last-child {
    border-right: 0;
}